:root{
    --white:#f7f7f7;
    --perper:#cc52b8;
    --brown:#f58b54;
    --dark-blue:#272121;
}

.top-container{
    width: 100%;
    height: 600px;
    background-color: var(--perper);
}

.cloud-wrapper{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid white;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

body{
    margin: 0;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 0%;
}

.cloud-wrapper> p {
    font-family: 'Lobster', cursive;
}

.cloud-wrapper > h1{
    font-family: 'Lobster', cursive;
}

.cloud {
    position: absolute;
}

.cloud1 {
    right: 50%;
    top: 30%;
    animation-name: FLAY;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.cloud2{
 left: 30%;
 top: 40%;
    animation-name: flays;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes FLAY{
    0%{left: 100px;}
    50%{left: 250px;}
    100%{left:400px;}
}

@keyframes flays{
    0%{left:100px ;}
    50%{left: 350px;}
    100%{left: 500px;}
}

.middle-container {
    width: 75%;
    margin: 0 auto;
    border: 2px solid red;
    text-align: center;
}

.btn {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.btn:hover {
	background-color:#eb675e;
}
.btn:active {
	position:relative;
	top:1px;
}

        



.profile {
    padding-bottom: 3rem;
}

.profile img {
    width: 100px;
    padding: 2rem 0;
}

.profile h2 {
    font-size: 3rem;
}

.skills {
    border: 2px solid green;
}

.skills h2 {
    font-size: 3rem;
}

.skills h3 {
    font-size: 2.5rem;
    margin: 0;
}
.skills-image1 {
    width: 150px;
    float: left;
    margin-right: 3rem;
}

.skills-row1 {
    text-align: left;
    margin-bottom: 2rem;
}

.skills-row2 {
    text-align: right;
    margin-bottom: 2rem;
}

.skills-image2 {
    width: 150px;
    float: right;
}

.bottom-container{
    text-align: center;
}

.footer-link{
    font-size: 20px;
    text-decoration: none;
    color: var(--perper)
}